@import 'styles.css';

blockquote {
    padding: 1rem;
    clear: both;
    background: var(--bgQuoteColor);
}
blockquote > p:last-of-type {
    margin-top: 0.5rem;
    text-indent: 2rem;
}

@media only screen and (min-width: 720px) {
    blockquote {
        margin: 0.5rem 0 0 1rem;
    }

    img#home {
        float: right;
        margin: 0 0 0.5rem 0.5rem;
        width: auto;
    }
}